@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');

html {
    scroll-behavior: smooth;

}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Advent Pro', sans-serif;
    padding: 0;
    margin: 0;
    background: whitesmoke;
}

/*//////////header/////////*/

ul {

    padding-left: 0%;
    margin-top: 0%;
    margin-right: 5rem;


}

a {
    text-decoration: none;
    color: black;
    font-weight: 550;
    font-size: 23px;
}

nav {
    overflow: hidden;
    background-color: #b3b3b3;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 5rem;
    opacity: 0.6;
}

header {
    overflow: hidden;
    height: 30vh;
    z-index: 1;
    background-color: whitesmoke;
}

header li {

    font-size: 1.2em;
    list-style-type: none;

    display: inline-block;
}

header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}

header li a:hover {
    color: #b09b00;
}

.logo {
    color: #000000;
    font-size: 23px;
    margin-left: 4rem;

}

.logo:hover {
    color: #b09b00;
}

/*//////MAIN////*/
main {
    margin-left: 4rem;

}



.Home h4 a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
}

.Home h2 {
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
}

.Home p {
    color: #1a1a1a;
    font-size: 60px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: calibri;
}

.Home h4 {
    color: #403e3e;
    font-size: 30px;
}

.Home button {
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-weight: bold;
    font-family: "Roboto";
    font-size: 20px;
    outline: none;
    margin: 0px 10px;
}

.myimage {
    height: 650px;
    position: absolute;
    left: 80%;
    transform: translateX(-70%);
    top: 20%;
}

.hire-btn {
    border: 2px solid #373636;
    color: none;
    cursor: pointer;
}

.Download-cv {
    cursor: pointer;
    background-color: #0b0b0b;
    color: #ffffff;
    border: 2px solid #373636;
    size: 6%;
    position: relative;
}

/*/////////POJECTS/////*/
#ELEMENT-1 {
    width: 50%;
    text-align: center;
    border-bottom: 1px solid black;
    line-height: 0.1em;
    margin: 0px 490px 20px;
    margin-left: 27rem;




}


#ELEMENT-1 span {
    background: whitesmoke;
    padding: 0 10px;
    color: #464343;
    font-weight: 550;
    text-shadow: 0.25px 1.5px 0.5px #b09b00;


}

.projects {
    margin-top: 25rem;

}

.table {
    margin-top: 8rem;
    margin-right: 4rem;
    margin-bottom: 12rem;

}

.table thead {
    text-align: center;
    font-size: x-large;
}

.table td {
    font-size: medium;
}

.table td a {
    font-size: medium;

}

.table th {
    color: #b09b00;
}

.container-3 {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./ressources/contact.png");
    padding-top: 5%;
    margin-left: 18%;


}

.container-31 {
    width: 74.5%;
}

.container-32 {
    position: relative;
    padding-top: 17%;
    display: inline-block;
}

input[type=text],
select,
textarea {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    float: left;
}


input[type=submit] {
    background-color: #6d6d6d;
    color: white;
    padding: 12px;
    width: 20px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: yellowgreen;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

}

.col-25 {
    float: center;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: center;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*FOOTER//////*/
footer p:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
    color: #191919;
    line-height: 10px;
}

footer p:nth-child(2) {
    font-size: 16px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;
}

footer {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20rem;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}

.social-icons {
    display: flex;
}

.social-icons i,
.social i {
    color: #000000;
}

.social-icons a:hover {
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}

.social-icons a:hover i,
.social a:hover i {
    color: #ffffff;
    transition: all ease 0.5s;
}

.copyright {
    color: #565555;
    font-size: 12px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}